body {
	background-image: url(../../img/fore/background.jpeg);
	background-repeat:no-repeat;
	background-attachment:fixed;
	font-family: "微软雅黑";
}

.orderItem-top {
	left: 0;
	right: 0;
	margin: auto;
	height: 150px;
	width: 1240px;
}

.orderItem-top .site-title {
	margin-top: 30px;
	font-size: 55px;
}

.orderItem .site-title {
	color: #396486;
}

a.site-title {
	text-decoration: none;
}

.orderItem-top .site-description {
	float: right;
	color: #396486;
}

.orderItem-name {
	margin-left: 0;
	font-size: 18px;
	margin-left: 290px;
}
.orderItem-name a {
	text-decoration: none;
}

.orderItem-bottom {
	left: 0;
	right: 0;
	margin: auto;
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	padding-right: 50px;
	height: auto;
	width: 1200px;
}

.orderItem-table,tr{
	border:2px solid #396486;
}

.orderItem-table {
	width: 100%;
}

th {
	height: 50px;
	font-size: 18px;
	padding: 15px;
	text-align: center;
}

td{
	padding: 12px;
	text-align: center;
}

#th1 {
	width: 170px;
}
#th2 {
	width: 170px;
}
#th3 {
	width: 170px;
}
#th4 {
	width: 170px;
}
#th5 {
	width: 170px;
}
#th6 {
	width: 170px;
}
#th7 {
	width: 170px;
}


.orderItem-pic {
	width: 60px;
	height: 60px;
}

.orderItem-name {
	font-size: 16px;
}

a.orderItem-name {
	text-decoration: none;
}

.orderItem-description {
	font-size: 14px;
}
.orderItem-price {
	font-size: 16px
}
.orderItem-item {
	font-size: 16px;
	color: #dddddd;
}
a.orderItem-item {
	text-decoration: none;
}


